.gnb__cont {
  background-color: white;
}
.gnb__cont .inner_cont .main_menus {
  color: black;
}
.gnb__cont .inner_cont .main_menus .center > div > div > a {
  text-decoration: none;
  color: black;
}

.full-size {
  width: 100%;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.svg-icon {
  filter: none;
}

.contents {
  margin-top: 100px;
}
.contents .sub_nav {
  height: 60px;
  background-color: #007c91;
}
.contents .sub_nav > .container {
  height: inherit;
  display: flex;
  flex-direction: row;
}
.contents .sub_nav > .container > .icon {
  height: inherit;
  width: 70px;
  border-left: 1px solid #ccc;
  display: flex;
  justify-content: center;
}
.contents .sub_nav > .container > .icon > img {
  filter: invert(1);
  width: 30px;
}
.contents .sub_nav > .container .sb_main_menu {
  height: inherit;
  width: 160px;
  border-left: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contents .sub_nav > .container .sb_main_menu :first-child {
  color: white;
  font-family: SDGB;
}
.contents .sub_nav > .container .sb_main_menu .icon > img {
  padding-top: 2px;
  height: inherit;
  width: 20px;
  filter: invert(1);
}
.contents .sub_nav > .container .sb_sub_menu {
  padding-top: 10px;
  height: inherit;
  width: 160px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contents .sub_nav > .container .sb_sub_menu :first-child {
  color: white;
  font-family: SDGB;
}
.contents .sub_nav > .container .sb_sub_menu .icon > img {
  padding-top: 4px;
  height: inherit;
  width: 20px;
  filter: invert(1);
}
.contents .summary {
  height: 150px;
}
.contents .summary .container > div {
  padding-top: 40px;
}
.contents .img_back {
  height: 300px;
  background-image: url("/eco_dist/intro.a0169a3a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contents .article .container {
  height: 800px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.contents .article .container .noti {
  text-align: center;
}
.contents .article .container .image_cont {
  height: 300px;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contents .article .container .image_cont .images {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.contents .article .container .image_cont .images > img {
  width: 280px;
  height: 280px;
  border-radius: 150px;
}
.contents .article .container .image_cont .images > h3 {
  text-align: center;
}
.contents .article .container .text_cont {
  margin-top: 150px;
  height: 150px;
}
.contents .article .container .text_cont .mission {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 130px;
  display: flex;
  margin: 10px 0px;
  align-items: center;
  flex-direction: row;
}
.contents .article .container .text_cont .mission > .title {
  flex: 1;
  align-items: center;
}
.contents .article .container .text_cont .mission > .title > strong {
  color: #007c91;
}
.contents .article .container .text_cont .mission > .text_contents {
  flex: 2.1;
  align-items: center;
}
.contents .article .container .text_cont .vision {
  border-bottom: 1px solid #ccc;
  height: 130px;
  display: flex;
  margin: 10px 0px;
  flex-direction: row;
  align-items: center;
}
.contents .article .container .text_cont .vision > .title {
  flex: 1;
  align-items: center;
}
.contents .article .container .text_cont .vision > .title > strong {
  color: #007c91;
}
.contents .article .container .text_cont .vision > .text_contents {
  flex: 2.1;
  align-items: center;
}
#footer {
  position: relative;
}

.contact_us_cont {
  position: absolute;
  bottom: 200px;
  right: 80px;
}

/*# sourceMappingURL=/summary.c287c8dd.css.map */
